
a,p,span,div,button,input,table,th,tr,thead,td {font-family: "Roboto", sans-serif;}

h1,h2,h3,h4,h5,h6{
  font-family: 'Josefin Sans', sans-serif;
}
@font-face {
	font-family: "Agus Sans";
	src: url("AgusSans-Regular.ttf");
	src: url("AgusSans-Regular.woff") format("woff"),
	url("AgusSans-Regular.otf") format("opentype"),
	/* url("CustomFont.svg#filename") format("svg"); */
}
/*preloader*/
body{
  max-width: 100%;
  max-height: 100%;
  background-color: #EFEFEF;
  overflow: hidden;
}
.blink{
  color: #2E2E2E;
  font-weight: 100;
  font-size: 3em;
  animation: blinker 3s 1000;
  -webkit-animation: blinker 3s 1000;
  -moz-animation: blinker 1s 1000;
}
.blink:hover{
  cursor: pointer;

}
@keyframes blinker{
  0%{
    transform: scale(1,1);
  }
  10%{
    transform: sclae(1.05,1.05);
  }
  20%{
    transform: scale(1.1,1.1);
  }
  30%{
    transform: sclae(1.15,1.15);
  }
  40%{
    transform: scale(1.2,1.2);
  }
  50%{
    transform: sclae(1.25,1.25);
  }
  60%{
    transform: scale(1.2,1.2);
  }
  70%{
    transform: sclae(1.15,1.15);
  }
  80%{
    transform: scale(1.1,1.1);
  }
  90%{
    transform: sclae(1.05,1.05);
  }
  100%{
    transform: scale(1,1);
  }
}
#loader-wrapper {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index:1000;
  background-color: #EFEFEF;
  
}
#loader-text{
  text-align: center;
  font-size: 35px;
  font-family: "Agus Sans";
}
#loader {
  display:block;
  position: relative;
  top:50%;

  height: 100%;
  /* margin:0 auto; */
  border:3px solid transparent;

  border-radius:100%;
  -webkit-animation:  2s linear infinite;
          animation:  2s linear infinite;
  z-index:1001;
}


#loader-wrapper .loader-section {
  position:fixed;
  top:0;
  background:white;
  width:51%;
  height:100%;
  z-index:1000;
}

footer{
  background-color: #2E2E2E;
  color: white;
  padding: 3em 2em;
}

/* Loaded Styles */

.loaded #loader {
  opacity: 0;
  transition: all 2.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  transform:translateY(-100%);
  transition: all 2.3s 1s ease-out;
}

/*preloader*/
#logo{
    height: 100px;
   padding-top: 20px;
   padding-bottom: 20px;
}
nav{
    height: 8%;
    position: fixed;
    top: 0px;
  
}
/* .navbar{
    border-bottom:1px solid grey;
} */
.navbar-nav.navbar-center {
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
}
/*hamburger icon*/
/* .hamburger-icon{
  position: absolute;
  left: 80%;
  float: right;
} */
.hamburger-icon .container {
    display: inline-block;
    cursor: pointer;
    padding-top: 5px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #2E2E2E;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .change_opacity{
    opacity: .6;
  }
  /*sliding-menu*/
  .sliding-menu{
    float: left;
    margin: 4em .5em 0 1em ;
    position: fixed;
    /* padding: 5% 5% 30% 5%; */
    background-color: transparent;
  }
  
  .sliding-menu a{
    text-decoration: none;
    color: #2E2E2E;
    font-size : 3.6em;
  }
  
  .sliding-menu a:hover{
    color : #B6D432;
    text-decoration: none;
  }
  
  @media screen and (max-width: 420px){
    .sliding-menu{
      margin: 5.2em 0em;
      background-color: #EFEFEF;
      padding: 11% 30% 5% 39%;
    }
    .sliding-menu a{
      font-size: 2em;
      padding: 2em 0px;
    } 
  }
  /*sections start here*/

  section{
    width: 100vw;
    height: 100vh;
    background-color: #EFEFEF;
  }
  /*landing-section*/
  #landing{
    background-image: url('Images/pexels-photo-1413412.jpeg');
    /* background-color: #555; */
    background-size: cover;
    background-repeat: repeat-y;
    width: 100vw;
    height: 100vh;
  }

.page-buttons .column{
  margin: 10px auto;
}

.page-buttons .row{
  /* position: absolute;
  top: 70%;
  left: 7%; */
}
.page-buttons button{
  border-radius: 35px;
  padding: 1em 5.2em;
  font-size: 13px;
}

.page-buttons #btn1{
  position: absolute;
  top: 70%;
  left: 30%;
  color: #EFEFEF;
  background-color: transparent;
}
.page-buttons #btn1:hover{
  color: #B6D432;
  background-color: #EFEFEF;
}
.page-buttons #btn2{
  position: absolute;
  top: 70%;
  left: 55%;
  color: black;
  background-color: #B6D432;
}


@media screen and (max-width: 420px){
  .page-buttons button{
    border-radius: 35px;
    font-size: 13px;
  }
  .page-buttons #btn1{
    padding: 1em 5em;
    position: absolute;
    top: 70%;
    left: 23%;
  }
  .page-buttons #btn2{
    padding: 1em 6em;
    position: absolute;
    top: 80%;
    left: 23%;
  }
}
/*our work section with counter up*/
#ourwork{
  background-color:  #EFEFEF;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#ourwork .row{
  margin: 0 auto;
}



.head p:first-child {
  /* font-weight: 600; */
  font-size: 1.3em;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin: 4em 0;
}
#ourwork .head{
  width: 100%;
  height: 15%;
  padding-top: 40%;
  padding-bottom: 20%;
}
#ourwork .container{
  position: aboslute;
  bottom: 50px;
}

.row span{
  size: 25px;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2E2E2E;
}
#ourwork a i{
  padding-top: 50px;
  font-size: 3em;
}

.specifications{
  background-color: #EFEFEF;
  width: 100vw;
  height: 100vh;

}
#specs h2{
  font-size: 30px;
  letter-spacing: 5px; 
}
#specs .column{
  margin: 0 auto;
}
#specs-container .component{
  display: none;
  padding: 25px  55%;
}

#main_bike{
  margin: 5% 10% 2% 15%; 
  height: 550px;

}
.components_img{
  height: 300px;
  width: 300px;
  
}
#specs-container p{
  padding: 0px 40px;
  font-size: 1.3em;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin: .5em 0;
}
#specs-container li{
  list-style-type: none;
  font-size: 30px;
}

@media screen and (max-width : 420px)
{
  #specs-container .component{
    display: none;
    padding:10px 20px;
  }
  #specs-container .component ol{
    padding: 10px;
  }
  #main_bike{
    height: 500px;
    width: 300px;
  }
  .components_img{
    height: 300px;
    width: 300px;
    margin-right: 40px;
  }
}

#visuals{
  background-color:#EFEFEF ;
  width: 100vw;
  height: 100vh;
  
}
/*Image grid*/
* {
  box-sizing: border-box;
}
#visuals_section{
  background-color: #EFEFEF;
  width: 100%;
  height: 100%;
}
#visuals h1{
  font-size: 30px;
  letter-spacing: 5px; 
}
#visuals .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  ;
}

/* Create four equal columns that sits next to each other */
#visuals .column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 50%;
  max-height: 10%;
  padding: 0 4px;
  margin: 0 auto;
}

#visuals .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #visuals  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #visuals  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



/*video*/
html{
  scroll-behavior: smooth;
}
 /*animations*/


 /*back to top back-to-top*/
 #button-scroll{
  display: inline-block;
  background-color:transparent;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  top: 30px;
  right: 10px;
  color: #2E2E2E;
  opacity: 0.7;
  padding-bottom: 20px;
}
/* 
#button-scroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #B6D432;

} */
#button-scroll:hover {
  cursor: pointer;
  background-color:transparent;

}
#button-scroll:active {
  background-color: transparent;
}
#button-scroll.show {
  opacity: 0.3;
  visibility: visible;
}
/*page buttons*/
@media screen and (max-width: 600px) {
 #col-btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #specs-container{
    padding-top: 10px;
  }
}