#logo{
    height: 100px;
   padding-top: 20px;
   padding-bottom: 20px;
}
nav{
    height: 100px;
}
.navbar{
    border-bottom:1px solid grey;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
/*hamburger icon*/
.hamburger-icon .container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /*sliding-menu*/
body{
    background-color: #EFEFEF;
}
section{
    height: 100%;
    width: 100%;
}
footer{
    background-color: #1B1B1B;
    color: white;
  }
  .column{
      margin: 0 auto;
  
  }
 .row{
     padding-bottom: 20px;
 } 

 @media screen and (max-width: 600px) {
  .column{
    padding-top: 5px;
    padding-bottom: 10px;
  }
 }